<% if (typeof books !== 'undefined') { %>
  <% books.forEach(element => { %>
  <div class='book'>
    <img src=" <%= element.img_url %> ">
    <h2> <%= element.title %>  </h2>
    <h3> <%= element.author %> </h3>
    <a href="<%= element.retail_link %> ">Buy On Amazon</a>
    <form class='hiddenData bookForm' action='/deleteBook' method="POST">
      <input class="info" type="hidden" name="title" value=' <%= element.title %>'>
      <button type='submit' class="delete-btn">Delete your book!</button>
     </form>
  </div>
  <% }) %>
  <% } %> 