<% if (typeof queryResults !== 'undefined') { %>
<% queryResults.forEach(element => { %>
<div class='recipe'>
  <img src=" <%= element.img_url %> ">
  <h2>Title <%= element.title %>  </h2>
  <h3>Author <%= element.author %> </h3>
  <div class="book-synopsis-container">
    <p class="book-synopsis">Synopsis <%= element.synopsis %> </p>
  </div>
  <p>Genre:  <%= element.genre %> </p>
  <a href="<%= element.retail_link %> ">Buy On Amazon</a>
   <form class='hiddenData' class="bookForm" action='/favorites' method="POST">
    <input class="info" type="text" name="title" value=' <%= element.title %>'>
    <input class="info" type="text" name="author" value=' <%= element.author %>'>
    <input class="info" type="text" name="synopsis" value=' <%= element.synopsis %> '>
    <input class="info" type="text" name="genre" value=' <%= element.genre %>'>
    <input class="info" type="text" name="image_url" value='<%= element.img_url %>'>
    <input class="info"type="text" name="retail_link" value=' <%= element.retail_link %> '>
    <button type='submit'>Save your book!</button>
   </form>
</div>
<% }) %>
<% } %> 

<script type='text/javascript'>
  $(".bookForm").submit(function(event) {

    event.preventDefault();

    var $form = $( this ),
        url = $form.attr( 'action' );

    var posting = $.post( url, { 
      title: $form.find("input[name='title']").val(),
      author: $form.find("input[name='author']").val(),
      synopsis: $form.find("input[name='synopsis']").val(),
      genre: $form.find("input[name='genre']").val(),
      img_url: $form.find("input[name='img_url']").val(),
    });

    posting.done(function( data ) {
      alert('success');
    });

  });

</script>