<% if (typeof movies !== 'undefined') { %>
<% movies.forEach(function(movie){ %>

<div class='movies'>
  <h2><%= movie.title %></h2>
  <p>Overview: <%= movie.overview %></p>
  <p>Popularity: <%= movie.popularity %> </p>
  <p>Release date: <%= movie.release_date %></p>
    <img id="image_url" src="<%= movie.image_url %>" alt='placeholder'>
   <form class='hiddenData' action='' method="POST">
    <input class="info" type="text" name="title" value='movie.title'>
    <input class="info" type="text" name="overview" value=' movie.overview'>
    <input class="info" type="text" name="image_url" value=' movie.image_url '>
    <input class="info" type="text" name="popularity" value=' movie.popularity '>
    <input class="info" type="text" name="release_date" value=' movie.release_date'>
    <button type='submit'>Save your movie!</button>
   </form>
</div>
<% }) %>
</div>

<% } %>