<% if (typeof recipes !== 'undefined') { %>

  <% recipes.forEach(function(recipe){ %>
    <div class='recipe'>
      <h2 id="title"><%= recipe.title %> </h2>
      <p>Calories: <%= recipe.calories %> </p>
      <p>Health labels: <%= recipe.healthLabels %> </p>
      <a href=<%= recipe.steps %>>Directions</a>
      <img id="img_url" src=<%= recipe.image_url %> />
      <form class='hiddenData' action='' method="POST">
        <input class="info" type="text" name="title" value=' recipe.title'>
        <input class="info" type="text" name="ingredients" value=' recipe.ingredients'>
        <input class="info" type="text" name="calories" value=' recipe.calories '>
        <input class="info" type="text" name="steps" value=' recipe.steps'>
        <input class="info" type="text" name="image_url" value='recipe.image_url'>
        <input class="info"type="text" name="healthLabels" value=' recipe.healthLeables '>
        <button type='submit'>Save your recipe!</button>
       </form>
      </div>
    <% }) %>
</div>

<% } %>